<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= link_to Creator.find(recipe.creator_id).name, Creator.find(recipe.creator_id) %>

  </p>

  <p>
    <strong>Spice:</strong>

    <%= link_to Spice.find(recipe.spice_id).name, Spice.find(recipe.spice_id) %>

  </p>

  <p>
    <strong>Category:</strong>
    <%= link_to Category.find(recipe.creator_id).name, Category.find(recipe.creator_id) %>
  </p>

</div>
