
<%# <div class="container"> %>

  <p style="color: green"><%= notice %></p>

  <%= link_to "New recipe", new_recipe_path %>

  <h1>Recipes</h1>

  <%= page_entries_info @recipes %>
  <%= paginate @recipes%>

  <div class="row">
    <%# <div id="recipes"> %>
    <% @recipes.each do |recipe| %>
    <div class="col-4">
      <%= render recipe %>
      <p>
        <%= link_to "Show this recipe", recipe %>
      </p>
    </div>
    <% end %>
    <%# </div> %>
  </div>

<%# </div> %>

