<%# <div class="container"> %>
<% if params[:search]%>
    <%= "Search term: #{params[:search]}"%>
  <% end%>

  <p style="color: green"><%= notice %></p>
<%# Pagination %>
  <%= page_entries_info @recipes%>
  <%= paginate @recipes%>


  <%= link_to "New recipe", new_recipe_path %>
<%# Search form %>
  <%# <%= form_with model: @recipe do%>
<%= form_with(url: '/recipes', method: 'get', local: true) do %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
  <% end %>
  <h1>Recipes</h1>

<%# Render recipes %>
  <div class="row">
    <%# <div id="recipes"> %>
    <% @recipes.each do |recipe| %>
    <div class="col-4">
      <%= render recipe %>
      <p>
        <%= link_to "Show this recipe", recipe %>
      </p>
    </div>
    <% end %>
    <%# </div> %>
  </div>

<%# </div> %>

