
<%# <div class="container"> %>


  <p style="color: green"><%= notice %></p>
<%# Pagination %>


<%# Search form %>
  <%# <%= form_with model: @recipe do%>
  <%= form_with(url: '/recipes', method: 'get', local: true) do  |f|%>
    <%= f.label :recipe%>
    <%= text_field_tag(:search) %>
    <%= f.label :category%>
    <%= f.select :category, options_for_select(@categories), include_blank: true %><br><br>
    <%= submit_tag("Search") %>
  <% end %>
  <% if params[:search]%>
    <%= "Search term: #{params[:search]}"%>
  <% end%>

  <br><%=  link_to "New recipe", new_recipe_path %>

  <h1>Recipes</h1>
  <%= page_entries_info @recipes%>
  <%= paginate @recipes%>

<%# Render recipes %>
  <div class="row">
    <%# <div id="recipes"> %>
    <% @recipes.each do |recipe| %>
    <div class="col-4">
      <%= render recipe %>
      <p>
        <%= link_to "Show this recipe", recipe %>
      </p>
    </div>
    <% end %>
    <%# </div> %>
  </div>

<%# </div> %>

